<div class="bg-gray-50 border border-gray-200 rounded p-6">
                    <div class="flex">
                        <img
                            class="hidden w-48 mr-6 md:block"
                            src="{{item.image ? asset(item.image):asset('build/images/logo.png')}}"
                            alt=""
                        />
                        <div>
                            <h3 class="text-2xl">
                                <a  href="{{ path('Listing.show', { 'id': item.id }) }}">{{item.title}}</a>
                            </h3>
                            <div class="text-xl font-bold mb-4">{{item.company}}</div>
                            {% include "Components/tag.html.twig" with  {"tags":item.tags}%}
                            <div class="text-lg mt-4">
                                <i class="fa-solid fa-location-dot"></i>{{item.location}}
                    </div>
            </div>
        </div>
</div>