<nav class="flex justify-between items-center mb-4">
    <a href="{{ path('home') }}">
        <img class="w-24 logo" src="{{ asset('build/images/logo.png') }}" alt="Logo">
    </a>
    <ul class="flex space-x-6 mr-6 text-lg">
        {% if not app.user %}
            <li>
                <a href="{{ path('app_register') }}" class="hover:text-laravel">
                    <i class="fa-solid fa-user-plus"></i> Register
                </a>
            </li>
            <li>
                <a href="{{ path('app_login') }}" class="hover:text-laravel">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
                </a>
            </li>
        {% else %}
            <li>
                    <a href="{{ path('app_posts') }}" class="hover:text-laravel">
                        Articles
                    </a>
            </li>
            <li>
                <form action="{{ path('app_logout') }}" method="post">
                    <button type="submit" class="hover:text-laravel">
                        <i class="fa-solid fa-door-closed"></i> Logout
                    </button>
                </form>
            </li>
        {% endif %}
    </ul>
</nav>
